@import "tailwindcss";

@theme {
  --*: initial;

  --color-gray-950: 23 23 23;
  --color-gray-900: 28 28 28;
  --color-gray-800: 41 41 41;
  --color-gray-700: 51 51 51;
  --color-gray-600: 92 92 92;
  --color-gray-500: 123 123 123;
  --color-gray-400: 163 163 163;
  --color-gray-300: 209 209 209;
  --color-gray-200: 235 235 235;
  --color-gray-100: 245 245 245;
  --color-gray-50: 247 247 247;
  --color-gray-0: 255 255 255;

  --color-gray-alpha-24: 163 163 163 / 24%;
  --color-gray-alpha-16: 163 163 163 / 16%;
  --color-gray-alpha-10: 163 163 163 / 10%;

  --color-slate-950: 14 18 27;
  --color-slate-900: 24 27 37;
  --color-slate-800: 34 37 48;
  --color-slate-700: 43 48 59;
  --color-slate-600: 82 88 102;
  --color-slate-500: 113 119 132;
  --color-slate-400: 153 160 174;
  --color-slate-300: 202 207 216;
  --color-slate-200: 225 228 234;
  --color-slate-100: 242 245 248;
  --color-slate-50: 245 247 250;
  --color-slate-0: 255 255 255;

  --color-slate-alpha-24: 153 160 174 / 24%;
  --color-slate-alpha-16: 153 160 174 / 16%;
  --color-slate-alpha-10: 153 160 174 / 10%;

  --color-neutral-950: var(--color-gray-950);
  --color-neutral-900: var(--color-gray-900);
  --color-neutral-800: var(--color-gray-800);
  --color-neutral-700: var(--color-gray-700);
  --color-neutral-600: var(--color-gray-600);
  --color-neutral-500: var(--color-gray-500);
  --color-neutral-400: var(--color-gray-400);
  --color-neutral-300: var(--color-gray-300);
  --color-neutral-200: var(--color-gray-200);
  --color-neutral-100: var(--color-gray-100);
  --color-neutral-50: var(--color-gray-50);
  --color-neutral-0: var(--color-gray-0);

  --color-neutral-alpha-24: var(--color-gray-alpha-24);
  --color-neutral-alpha-16: var(--color-gray-alpha-16);
  --color-neutral-alpha-10: var(--color-gray-alpha-10);

  --color-blue-950: 18 35 104;
  --color-blue-900: 24 47 139;
  --color-blue-800: 31 59 173;
  --color-blue-700: 37 71 208;
  --color-blue-600: 53 89 233;
  --color-blue-500: 51 92 255;
  --color-blue-400: 104 149 255;
  --color-blue-300: 151 186 255;
  --color-blue-200: 192 213 255;
  --color-blue-100: 213 226 255;
  --color-blue-50: 235 241 255;

  --color-blue-alpha-24: 71 108 255 / 24%;
  --color-blue-alpha-16: 71 108 255 / 16%;
  --color-blue-alpha-10: 71 108 255 / 10%;

  --color-orange-950: 113 51 10;
  --color-orange-900: 150 68 13;
  --color-orange-800: 183 83 16;
  --color-orange-700: 206 94 18;
  --color-orange-600: 225 102 20;
  --color-orange-500: 250 115 25;
  --color-orange-400: 255 164 104;
  --color-orange-300: 255 193 151;
  --color-orange-200: 255 217 192;
  --color-orange-100: 255 230 213;
  --color-orange-50: 255 243 235;

  --color-orange-alpha-24: 255 145 71 / 24%;
  --color-orange-alpha-16: 255 145 71 / 16%;
  --color-orange-alpha-10: 255 145 71 / 10%;

  --color-red-950: 104 18 25;
  --color-red-900: 139 24 34;
  --color-red-800: 173 31 43;
  --color-red-700: 208 37 51;
  --color-red-600: 233 53 68;
  --color-red-500: 251 55 72;
  --color-red-400: 255 104 117;
  --color-red-300: 255 151 160;
  --color-red-200: 255 192 197;
  --color-red-100: 255 213 216;
  --color-red-50: 255 235 236;

  --color-red-alpha-24: 251 55 72 / 24%;
  --color-red-alpha-16: 251 55 72 / 16%;
  --color-red-alpha-10: 251 55 72 / 10%;

  --color-green-950: 11 70 39;
  --color-green-900: 22 100 59;
  --color-green-800: 26 117 68;
  --color-green-700: 23 140 78;
  --color-green-600: 29 175 97;
  --color-green-500: 31 193 107;
  --color-green-400: 62 224 137;
  --color-green-300: 132 235 180;
  --color-green-200: 194 245 218;
  --color-green-100: 208 251 233;
  --color-green-50: 224 250 236;

  --color-green-alpha-24: 31 193 107 / 24%;
  --color-green-alpha-16: 31 193 107 / 16%;
  --color-green-alpha-10: 31 193 107 / 10%;

  --color-yellow-950: 98 76 24;
  --color-yellow-900: 134 102 29;
  --color-yellow-800: 167 128 37;
  --color-yellow-700: 201 154 44;
  --color-yellow-600: 230 168 25;
  --color-yellow-500: 246 181 30;
  --color-yellow-400: 255 210 104;
  --color-yellow-300: 255 224 151;
  --color-yellow-200: 255 236 192;
  --color-yellow-100: 255 239 204;
  --color-yellow-50: 255 244 214;

  --color-yellow-alpha-24: 251 198 75 / 24%;
  --color-yellow-alpha-16: 251 198 75 / 16%;
  --color-yellow-alpha-10: 251 198 75 / 10%;

  --color-purple-950: 53 26 117;
  --color-purple-900: 61 29 134;
  --color-purple-800: 76 37 167;
  --color-purple-700: 91 44 201;
  --color-purple-600: 105 62 224;
  --color-purple-500: 125 82 244;
  --color-purple-400: 140 113 246;
  --color-purple-300: 168 151 255;
  --color-purple-200: 202 192 255;
  --color-purple-100: 220 213 255;
  --color-purple-50: 239 235 255;

  --color-purple-alpha-24: 120 77 239 / 24%;
  --color-purple-alpha-16: 120 77 239 / 16%;
  --color-purple-alpha-10: 120 77 239 / 10%;

  --color-sky-950: 18 75 104;
  --color-sky-900: 24 101 139;
  --color-sky-800: 31 126 173;
  --color-sky-700: 37 151 208;
  --color-sky-600: 53 173 233;
  --color-sky-500: 71 194 255;
  --color-sky-400: 104 205 255;
  --color-sky-300: 151 220 255;
  --color-sky-200: 192 234 255;
  --color-sky-100: 213 241 255;
  --color-sky-50: 235 248 255;

  --color-sky-alpha-24: 71 194 255 / 24%;
  --color-sky-alpha-16: 71 194 255 / 16%;
  --color-sky-alpha-10: 71 194 255 / 10%;

  --color-pink-950: 104 18 61;
  --color-pink-900: 139 24 82;
  --color-pink-800: 173 31 102;
  --color-pink-700: 208 37 122;
  --color-pink-600: 233 53 143;
  --color-pink-500: 251 75 163;
  --color-pink-400: 255 104 179;
  --color-pink-300: 255 151 203;
  --color-pink-200: 255 192 223;
  --color-pink-100: 255 213 234;
  --color-pink-50: 255 235 244;

  --color-pink-alpha-24: 251 75 163 / 24%;
  --color-pink-alpha-16: 251 75 163 / 16%;
  --color-pink-alpha-10: 251 75 163 / 10%;

  --color-teal-950: 11 70 62;
  --color-teal-900: 22 100 90;
  --color-teal-800: 26 117 105;
  --color-teal-700: 23 140 125;
  --color-teal-600: 29 175 156;
  --color-teal-500: 34 211 187;
  --color-teal-400: 63 222 201;
  --color-teal-300: 132 235 221;
  --color-teal-200: 194 245 238;
  --color-teal-100: 208 251 245;
  --color-teal-50: 228 251 248;

  --color-teal-alpha-24: 34 211 187 / 24%;
  --color-teal-alpha-16: 34 211 187 / 16%;
  --color-teal-alpha-10: 34 211 187 / 10%;

  --color-white-alpha-24: 255 255 255 / 24%;
  --color-white-alpha-16: 255 255 255 / 16%;
  --color-white-alpha-10: 255 255 255 / 10%;

  --color-black-alpha-24: 0 0 0 / 24%;
  --color-black-alpha-16: 0 0 0 / 16%;
  --color-black-alpha-10: 0 0 0 / 10%;

  --color-overlay-gray: 51 51 51 / 24%;
  --color-overlay-slate: 43 48 59 / 24%;

  --overlay: var(--color-overlay-gray);

  --social-apple: 0 0 0;
  --social-twitter: 1 1 1;
  --social-github: 36 41 47;
  --social-notion: 30 34 38;
  --social-tidal: 0 0 0;
  --social-amazon: 53 62 71;
  --social-zendesk: 22 20 13;

  --primary-dark: var(--color-blue-800);
  --primary-darker: var(--color-blue-700);
  --primary-base: var(--color-blue-500);
  --primary-alpha-24: var(--color-blue-alpha-24);
  --primary-alpha-16: var(--color-blue-alpha-16);
  --primary-alpha-10: var(--color-blue-alpha-10);

  --static-black: var(--color-neutral-950);
  --static-white: var(--color-neutral-0);

  --bg-strong-950: var(--color-neutral-950);
  --bg-surface-800: var(--color-neutral-800);
  --bg-sub-300: var(--color-neutral-300);
  --bg-soft-200: var(--color-neutral-200);
  --bg-weak-50: var(--color-neutral-50);
  --bg-white-0: var(--color-neutral-0);

  --text-strong-950: var(--color-neutral-950);
  --text-sub-600: var(--color-neutral-600);
  --text-soft-400: var(--color-neutral-400);
  --text-disabled-300: var(--color-neutral-300);
  --text-white-0: var(--color-neutral-0);

  --stroke-strong-950: var(--color-neutral-950);
  --stroke-sub-300: var(--color-neutral-300);
  --stroke-soft-200: var(--color-neutral-200);
  --stroke-white-0: var(--color-neutral-0);

  --faded-dark: var(--color-neutral-800);
  --faded-base: var(--color-neutral-500);
  --faded-light: var(--color-neutral-200);
  --faded-lighter: var(--color-neutral-100);

  --information-dark: var(--color-blue-950);
  --information-base: var(--color-blue-500);
  --information-light: var(--color-blue-200);
  --information-lighter: var(--color-blue-50);

  --warning-dark: var(--color-orange-950);
  --warning-base: var(--color-orange-500);
  --warning-light: var(--color-orange-200);
  --warning-lighter: var(--color-orange-50);

  --error-dark: var(--color-red-950);
  --error-base: var(--color-red-500);
  --error-light: var(--color-red-200);
  --error-lighter: var(--color-red-50);

  --success-dark: var(--color-green-950);
  --success-base: var(--color-green-500);
  --success-light: var(--color-green-200);
  --success-lighter: var(--color-green-50);

  --away-dark: var(--color-yellow-950);
  --away-base: var(--color-yellow-500);
  --away-light: var(--color-yellow-200);
  --away-lighter: var(--color-yellow-50);

  --feature-dark: var(--color-purple-950);
  --feature-base: var(--color-purple-500);
  --feature-light: var(--color-purple-200);
  --feature-lighter: var(--color-purple-50);

  --verified-dark: var(--color-sky-950);
  --verified-base: var(--color-sky-500);
  --verified-light: var(--color-sky-200);
  --verified-lighter: var(--color-sky-50);

  --highlighted-dark: var(--color-pink-950);
  --highlighted-base: var(--color-pink-500);
  --highlighted-light: var(--color-pink-200);
  --highlighted-lighter: var(--color-pink-50);

  --stable-dark: var(--color-teal-950);
  --stable-base: var(--color-teal-500);
  --stable-light: var(--color-teal-200);
  --stable-lighter: var(--color-teal-50);
}

:root {
  --color-gray-950: 23 23 23;
  --color-gray-900: 28 28 28;
  --color-gray-800: 41 41 41;
  --color-gray-700: 51 51 51;
  --color-gray-600: 92 92 92;
  --color-gray-500: 123 123 123;
  --color-gray-400: 163 163 163;
  --color-gray-300: 209 209 209;
  --color-gray-200: 235 235 235;
  --color-gray-100: 245 245 245;
  --color-gray-50: 247 247 247;
  --color-gray-0: 255 255 255;

  --color-gray-alpha-24: 163 163 163 / 24%;
  --color-gray-alpha-16: 163 163 163 / 16%;
  --color-gray-alpha-10: 163 163 163 / 10%;

  --color-slate-950: 14 18 27;
  --color-slate-900: 24 27 37;
  --color-slate-800: 34 37 48;
  --color-slate-700: 43 48 59;
  --color-slate-600: 82 88 102;
  --color-slate-500: 113 119 132;
  --color-slate-400: 153 160 174;
  --color-slate-300: 202 207 216;
  --color-slate-200: 225 228 234;
  --color-slate-100: 242 245 248;
  --color-slate-50: 245 247 250;
  --color-slate-0: 255 255 255;

  --color-slate-alpha-24: 153 160 174 / 24%;
  --color-slate-alpha-16: 153 160 174 / 16%;
  --color-slate-alpha-10: 153 160 174 / 10%;

  --color-neutral-950: var(--color-gray-950);
  --color-neutral-900: var(--color-gray-900);
  --color-neutral-800: var(--color-gray-800);
  --color-neutral-700: var(--color-gray-700);
  --color-neutral-600: var(--color-gray-600);
  --color-neutral-500: var(--color-gray-500);
  --color-neutral-400: var(--color-gray-400);
  --color-neutral-300: var(--color-gray-300);
  --color-neutral-200: var(--color-gray-200);
  --color-neutral-100: var(--color-gray-100);
  --color-neutral-50: var(--color-gray-50);
  --color-neutral-0: var(--color-gray-0);

  --color-neutral-alpha-24: var(--color-gray-alpha-24);
  --color-neutral-alpha-16: var(--color-gray-alpha-16);
  --color-neutral-alpha-10: var(--color-gray-alpha-10);

  --color-blue-950: 18 35 104;
  --color-blue-900: 24 47 139;
  --color-blue-800: 31 59 173;
  --color-blue-700: 37 71 208;
  --color-blue-600: 53 89 233;
  --color-blue-500: 51 92 255;
  --color-blue-400: 104 149 255;
  --color-blue-300: 151 186 255;
  --color-blue-200: 192 213 255;
  --color-blue-100: 213 226 255;
  --color-blue-50: 235 241 255;

  --color-blue-alpha-24: 71 108 255 / 24%;
  --color-blue-alpha-16: 71 108 255 / 16%;
  --color-blue-alpha-10: 71 108 255 / 10%;

  --color-orange-950: 113 51 10;
  --color-orange-900: 150 68 13;
  --color-orange-800: 183 83 16;
  --color-orange-700: 206 94 18;
  --color-orange-600: 225 102 20;
  --color-orange-500: 250 115 25;
  --color-orange-400: 255 164 104;
  --color-orange-300: 255 193 151;
  --color-orange-200: 255 217 192;
  --color-orange-100: 255 230 213;
  --color-orange-50: 255 243 235;

  --color-orange-alpha-24: 255 145 71 / 24%;
  --color-orange-alpha-16: 255 145 71 / 16%;
  --color-orange-alpha-10: 255 145 71 / 10%;

  --color-red-950: 104 18 25;
  --color-red-900: 139 24 34;
  --color-red-800: 173 31 43;
  --color-red-700: 208 37 51;
  --color-red-600: 233 53 68;
  --color-red-500: 251 55 72;
  --color-red-400: 255 104 117;
  --color-red-300: 255 151 160;
  --color-red-200: 255 192 197;
  --color-red-100: 255 213 216;
  --color-red-50: 255 235 236;

  --color-red-alpha-24: 251 55 72 / 24%;
  --color-red-alpha-16: 251 55 72 / 16%;
  --color-red-alpha-10: 251 55 72 / 10%;

  --color-green-950: 11 70 39;
  --color-green-900: 22 100 59;
  --color-green-800: 26 117 68;
  --color-green-700: 23 140 78;
  --color-green-600: 29 175 97;
  --color-green-500: 31 193 107;
  --color-green-400: 62 224 137;
  --color-green-300: 132 235 180;
  --color-green-200: 194 245 218;
  --color-green-100: 208 251 233;
  --color-green-50: 224 250 236;

  --color-green-alpha-24: 31 193 107 / 24%;
  --color-green-alpha-16: 31 193 107 / 16%;
  --color-green-alpha-10: 31 193 107 / 10%;

  --color-yellow-950: 98 76 24;
  --color-yellow-900: 134 102 29;
  --color-yellow-800: 167 128 37;
  --color-yellow-700: 201 154 44;
  --color-yellow-600: 230 168 25;
  --color-yellow-500: 246 181 30;
  --color-yellow-400: 255 210 104;
  --color-yellow-300: 255 224 151;
  --color-yellow-200: 255 236 192;
  --color-yellow-100: 255 239 204;
  --color-yellow-50: 255 244 214;

  --color-yellow-alpha-24: 251 198 75 / 24%;
  --color-yellow-alpha-16: 251 198 75 / 16%;
  --color-yellow-alpha-10: 251 198 75 / 10%;

  --color-purple-950: 53 26 117;
  --color-purple-900: 61 29 134;
  --color-purple-800: 76 37 167;
  --color-purple-700: 91 44 201;
  --color-purple-600: 105 62 224;
  --color-purple-500: 125 82 244;
  --color-purple-400: 140 113 246;
  --color-purple-300: 168 151 255;
  --color-purple-200: 202 192 255;
  --color-purple-100: 220 213 255;
  --color-purple-50: 239 235 255;

  --color-purple-alpha-24: 120 77 239 / 24%;
  --color-purple-alpha-16: 120 77 239 / 16%;
  --color-purple-alpha-10: 120 77 239 / 10%;

  --color-sky-950: 18 75 104;
  --color-sky-900: 24 101 139;
  --color-sky-800: 31 126 173;
  --color-sky-700: 37 151 208;
  --color-sky-600: 53 173 233;
  --color-sky-500: 71 194 255;
  --color-sky-400: 104 205 255;
  --color-sky-300: 151 220 255;
  --color-sky-200: 192 234 255;
  --color-sky-100: 213 241 255;
  --color-sky-50: 235 248 255;

  --color-sky-alpha-24: 71 194 255 / 24%;
  --color-sky-alpha-16: 71 194 255 / 16%;
  --color-sky-alpha-10: 71 194 255 / 10%;

  --color-pink-950: 104 18 61;
  --color-pink-900: 139 24 82;
  --color-pink-800: 173 31 102;
  --color-pink-700: 208 37 122;
  --color-pink-600: 233 53 143;
  --color-pink-500: 251 75 163;
  --color-pink-400: 255 104 179;
  --color-pink-300: 255 151 203;
  --color-pink-200: 255 192 223;
  --color-pink-100: 255 213 234;
  --color-pink-50: 255 235 244;

  --color-pink-alpha-24: 251 75 163 / 24%;
  --color-pink-alpha-16: 251 75 163 / 16%;
  --color-pink-alpha-10: 251 75 163 / 10%;

  --color-teal-950: 11 70 62;
  --color-teal-900: 22 100 90;
  --color-teal-800: 26 117 105;
  --color-teal-700: 23 140 125;
  --color-teal-600: 29 175 156;
  --color-teal-500: 34 211 187;
  --color-teal-400: 63 222 201;
  --color-teal-300: 132 235 221;
  --color-teal-200: 194 245 238;
  --color-teal-100: 208 251 245;
  --color-teal-50: 228 251 248;

  --color-teal-alpha-24: 34 211 187 / 24%;
  --color-teal-alpha-16: 34 211 187 / 16%;
  --color-teal-alpha-10: 34 211 187 / 10%;

  --color-white-alpha-24: 255 255 255 / 24%;
  --color-white-alpha-16: 255 255 255 / 16%;
  --color-white-alpha-10: 255 255 255 / 10%;

  --color-black-alpha-24: 0 0 0 / 24%;
  --color-black-alpha-16: 0 0 0 / 16%;
  --color-black-alpha-10: 0 0 0 / 10%;

  --color-overlay-gray: 51 51 51 / 24%;
  --color-overlay-slate: 43 48 59 / 24%;

  --overlay: var(--color-overlay-gray);

  --social-apple: 0 0 0;
  --social-twitter: 1 1 1;
  --social-github: 36 41 47;
  --social-notion: 30 34 38;
  --social-tidal: 0 0 0;
  --social-amazon: 53 62 71;
  --social-zendesk: 22 20 13;

  --primary-dark: var(--color-blue-800);
  --primary-darker: var(--color-blue-700);
  --primary-base: var(--color-blue-500);
  --primary-alpha-24: var(--color-blue-alpha-24);
  --primary-alpha-16: var(--color-blue-alpha-16);
  --primary-alpha-10: var(--color-blue-alpha-10);

  --static-black: var(--color-neutral-950);
  --static-white: var(--color-neutral-0);

  --bg-strong-950: var(--color-neutral-950);
  --bg-surface-800: var(--color-neutral-800);
  --bg-sub-300: var(--color-neutral-300);
  --bg-soft-200: var(--color-neutral-200);
  --bg-weak-50: var(--color-neutral-50);
  --bg-white-0: var(--color-neutral-0);

  --text-strong-950: var(--color-neutral-950);
  --text-sub-600: var(--color-neutral-600);
  --text-soft-400: var(--color-neutral-400);
  --text-disabled-300: var(--color-neutral-300);
  --text-white-0: var(--color-neutral-0);

  --stroke-strong-950: var(--color-neutral-950);
  --stroke-sub-300: var(--color-neutral-300);
  --stroke-soft-200: var(--color-neutral-200);
  --stroke-white-0: var(--color-neutral-0);

  --faded-dark: var(--color-neutral-800);
  --faded-base: var(--color-neutral-500);
  --faded-light: var(--color-neutral-200);
  --faded-lighter: var(--color-neutral-100);

  --information-dark: var(--color-blue-950);
  --information-base: var(--color-blue-500);
  --information-light: var(--color-blue-200);
  --information-lighter: var(--color-blue-50);

  --warning-dark: var(--color-orange-950);
  --warning-base: var(--color-orange-500);
  --warning-light: var(--color-orange-200);
  --warning-lighter: var(--color-orange-50);

  --error-dark: var(--color-red-950);
  --error-base: var(--color-red-500);
  --error-light: var(--color-red-200);
  --error-lighter: var(--color-red-50);

  --success-dark: var(--color-green-950);
  --success-base: var(--color-green-500);
  --success-light: var(--color-green-200);
  --success-lighter: var(--color-green-50);

  --away-dark: var(--color-yellow-950);
  --away-base: var(--color-yellow-500);
  --away-light: var(--color-yellow-200);
  --away-lighter: var(--color-yellow-50);

  --feature-dark: var(--color-purple-950);
  --feature-base: var(--color-purple-500);
  --feature-light: var(--color-purple-200);
  --feature-lighter: var(--color-purple-50);

  --verified-dark: var(--color-sky-950);
  --verified-base: var(--color-sky-500);
  --verified-light: var(--color-sky-200);
  --verified-lighter: var(--color-sky-50);

  --highlighted-dark: var(--color-pink-950);
  --highlighted-base: var(--color-pink-500);
  --highlighted-light: var(--color-pink-200);
  --highlighted-lighter: var(--color-pink-50);

  --stable-dark: var(--color-teal-950);
  --stable-base: var(--color-teal-500);
  --stable-light: var(--color-teal-200);
  --stable-lighter: var(--color-teal-50);
}

.dark {
  --bg-strong-950: var(--color-neutral-0);
  --bg-surface-800: var(--color-neutral-200);
  --bg-sub-300: var(--color-neutral-600);
  --bg-soft-200: var(--color-neutral-700);
  --bg-weak-50: var(--color-neutral-900);
  --bg-white-0: var(--color-neutral-950);

  --text-strong-950: var(--color-neutral-0);
  --text-sub-600: var(--color-neutral-400);
  --text-soft-400: var(--color-neutral-500);
  --text-disabled-300: var(--color-neutral-600);
  --text-white-0: var(--color-neutral-950);

  --stroke-strong-950: var(--color-neutral-0);
  --stroke-sub-300: var(--color-neutral-600);
  --stroke-soft-200: var(--color-neutral-700);
  --stroke-white-0: var(--color-neutral-950);

  --faded-dark: var(--color-neutral-300);
  --faded-base: var(--color-neutral-500);
  --faded-light: var(--color-neutral-alpha-24);
  --faded-lighter: var(--color-neutral-alpha-16);

  --information-dark: var(--color-blue-400);
  --information-base: var(--color-blue-500);
  --information-light: var(--color-blue-alpha-24);
  --information-lighter: var(--color-blue-alpha-16);

  --warning-dark: var(--color-orange-400);
  --warning-base: var(--color-orange-600);
  --warning-light: var(--color-orange-alpha-24);
  --warning-lighter: var(--color-orange-alpha-16);

  --error-dark: var(--color-red-400);
  --error-base: var(--color-red-600);
  --error-light: var(--color-red-alpha-24);
  --error-lighter: var(--color-red-alpha-16);

  --success-dark: var(--color-green-400);
  --success-base: var(--color-green-600);
  --success-light: var(--color-green-alpha-24);
  --success-lighter: var(--color-green-alpha-16);

  --away-dark: var(--color-yellow-400);
  --away-base: var(--color-yellow-600);
  --away-light: var(--color-yellow-alpha-24);
  --away-lighter: var(--color-yellow-alpha-16);

  --feature-dark: var(--color-purple-400);
  --feature-base: var(--color-purple-500);
  --feature-light: var(--color-purple-alpha-24);
  --feature-lighter: var(--color-purple-alpha-16);

  --verified-dark: var(--color-sky-400);
  --verified-base: var(--color-sky-600);
  --verified-light: var(--color-sky-alpha-24);
  --verified-lighter: var(--color-sky-alpha-16);

  --highlighted-dark: var(--color-pink-400);
  --highlighted-base: var(--color-pink-600);
  --highlighted-light: var(--color-pink-alpha-24);
  --highlighted-lighter: var(--color-pink-alpha-16);

  --stable-dark: var(--color-teal-400);
  --stable-base: var(--color-teal-600);
  --stable-light: var(--color-teal-alpha-24);
  --stable-lighter: var(--color-teal-alpha-16);

  --color-overlay-gray: 51 51 51 / 56%;
  --color-overlay-slate: 43 48 59 / 56%;

  --overlay: var(--color-overlay-gray);

  --social-apple: 255 255 255;
  --social-twitter: 255 255 255;
  --social-github: 255 255 255;
  --social-notion: 255 255 255;
  --social-tidal: 255 255 255;
  --social-amazon: 255 255 255;
  --social-zendesk: 255 255 255;
}

.remixicon path {
  transform: scale(0.8996);
  transform-origin: center;
}
